body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 50px;
    line-height: 30px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    margin: 0;
}

.green-color
{
    color: rgb(8, 189, 48);
}

.flexible-container
{
    display: flex;
    margin-bottom: 150px;
}

.half-width
{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img
{
    width: 90%;
}
.link-button
{
    text-decoration: none;
    background-color: tomato;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.develop-bg{
    background-image:url(images/shapes/shape-1.png) ;
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 2%;
}

.mission-bottom{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid green;
    border-radius: 15px;
    margin-top: 30px;
}
.mission-bottom-bgcolor1{
    background-color: antiquewhite;
}
.mission-bottom-bgcolor2{
    background-color: rgb(234, 220, 238);
}
.mission-bottom-bgcolor3{
    background-color: rgb(213, 238, 234);
}

.mission-bottom img{
    width: 50%;
}
.heading-center{
    text-align: center;
}
.stay-focus{
    padding-top: 10%;
    padding-left: 10%;
}

#textresize{
    font-size: 60px;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    
}